/*
 * Fonts
 */

/* Space Mono Font Family */
/* https://www.typewolf.com/space-mono */
@font-face {
  font-family: SpaceMono;
  src: url("/fonts/spacemono/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: SpaceMono;
  src: url("/fonts/spacemono/SpaceMono-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: SpaceMono;
  src: url("/fonts/spacemono/SpaceMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: SpaceMono;
  src: url("/fonts/spacemono/SpaceMono-Italic.ttf");
  font-style: italic;
}

/*
 * Colors
 */

// $backgroundColor: {{ .Param "backgroundColor" }};
// $textColor: {{ .Param "textColor" }};

/* SCSS Variables */

// Colorschemes
$imperial-red: #e63946ff;
$honeydew: #f1faeeff;
$powder-blue: #a8dadcff;
$celadon-blue: #457b9dff;
$prussian-blue: #1d3557ff;
$carribean-green: #06d6a0;

// Backgrounds
$backgroundColor: $honeydew;

// Text
$globalTextColor: $imperial-red;
$navTextColor: $celadon-blue;
$footerColor: $celadon-blue;

// Fonts
$globalFont: "SpaceMono";

/*
 * Styles
 */

/* Global */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: $globalFont;
  background-color: $backgroundColor;
  color: $globalTextColor;
}

::selection {
  background: $carribean-green;
}
::-moz-selection {
  background: $carribean-green;
}

a {
  color: $navTextColor;
  text-decoration: none;
  &:hover {
    color: $globalTextColor;
  }
}

/* Home/Index Page */

.nav {
  margin-top: 10px;
  a {
    margin: 20px;
    text-decoration: none;
  }
}

.home-content {
  margin-top: 20%;
  min-height: 50%;
  .home-title {
  }

  .home-subtitle {
  }

  .home-subsubtitle {
  }
}

.footer {
  position: absolute;
  right: 10px;
  font-size: 0.8em;
  color: $footerColor;
}

.full-bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // opacity: .03;
  // position: fixed;
  // top: 0;
  // transition: opacity .5s;
}

/* Posts List */

.post-list-content {
  .post-list-item {
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5px;
  }

  .post-list-title {
    text-align: left;
  }

  .post-list-day {
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

/* Individual Posts */

.post-content {
  text-align: left;

  .post-title {
    text-align: center;
  }

  .post-metadata {
    text-align: right;
    li {
      list-style: none;
      padding-right: 10%;
    }
  }

  .post-tags {
    margin-left: 5%;
    .post-tag {
      padding-left: 15px;
    }
  }

  .post-inner-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  pre {
    padding: 10px;
    overflow: auto;
    line-height: 1.5;
    white-space: pre;
    code {
      margin: 0;
      padding: 0;
    }
  }
}
